@model Electric_Scooter.Models.OrderVM

<main class="container-wrap">
    <div class="container-main">
        <!-- breadcrumb -->
        <section class="breadcrumb-wrap">
            <ul>
                <li>
                    <a href="">首頁</a>
                </li>
                <li>
                    <a href="@Url.Action("Index")">銷貨系統</a>
                </li>
                <li>
                    <p>修改</p>
                </li>
            </ul>
        </section>
        <!-- main -->
        @using (Html.BeginForm("Edit", "Order", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <section class="form-horizontal">
                @Html.HiddenFor(x => x.Orders.o_Id)
                @Html.HiddenFor(x => x.Orders.o_CreateDate)
                @Html.Partial("Form", Model)
            </section>
        }
    </div>
</main>