@model IEnumerable<Electric_Scooter.Models.Orders>
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order List</title>
    <style>
        body {
            font-family: Arial,sans-serif;
        }

        .invoice-header, .invoice-footer {
            text-align: center;
            margin-bottom: 10px;
        }

            .invoice-header h2, .invoice-footer p {
                margin: 0;
            }

        .invoice-info {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
        }

            .invoice-info div {
                width: 45%;
            }

                .invoice-info div p {
                    margin: 2px 0;
                }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
            font-size: 12px;
        }

        th, td {
            border: 1px solid black;
            padding: 6px;
            text-align: left;
        }

        th {
            font-weight: bold;
            text-align: center;
        }

        .total {
            text-align: right;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="invoice-header">
        <h2>銷貨列表</h2>
    </div>

    @foreach (var cus in Model)
    {
        <div class="invoice-info">
            <div>
                <p>訂單編號: @cus.o_No</p>
                <p>訂單日期: @cus.o_Date</p>
                <p>狀態: @cus.o_State</p>
            </div>

            <div>
                <p>客戶: @cus.Customer.c_Name</p>
                <p>公司名: @cus.Customer.c_Company</p>
                <p>電話: @cus.Customer.c_Phone1</p>
                <p>地址: @cus.Customer.c_Address</p>
            </div>

            <div>
                <p>總價格: @cus.o_TotalPrice</p>
                <p>結清: @(cus.o_IsSettled.HasValue?(cus.o_IsSettled.Value?"是":"否"):"")</p>
                <p>收款: @(cus.o_IsCollectPayment.HasValue ? (cus.o_IsCollectPayment.Value ? "是" : "否") : "")</p>
                <p>分期: @(cus.o_IsInstallment.HasValue ? (cus.o_IsInstallment.Value ? "是" : "否") : "")</p>
            </div>
        </div>

        <table>
            <thead>
                <tr>
                    <th>車架編號</th>
                    <th>產品類別</th>
                    <th>產品名稱</th>
                    <th>顏色</th>
                    <th>數量</th>
                    <th>單價</th>
                    <th>價格</th>
                    <th>車牌</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var od in cus.OrderDetail)
                {
                    <tr>
                        <td>@od.Product.p_CarFrameNo</td>
                        <td>@od.Product.p_Type</td>
                        <td>@od.Product.p_Name</td>
                        <td>@od.Product.p_Color</td>
                        <td>@od.od_Quantity</td>
                        <td>@od.Product.p_Price</td>
                        <td>@(od.od_Quantity * od.Product.p_Price)</td>
                        <td>@od.od_LicensePlate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    <div class="invoice-footer">
        <p>Generated on @DateTime.Now</p>
    </div>
</body>
</html>
