@model Electric_Scooter.Models.Customer
@using Electric_Scooter.Helpers
@{
    var isView = ViewBag.IsView ?? false;// 判斷是詳細資料還是表單
}

@Html.AntiForgeryToken()

<section class="form-horizontal">
    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="display-flex flex-1">
            @Html.LabelFor(x => x.c_No, "客戶編號", new { @class = "flex-150px text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_No</p>
                }
                else
                {
                    @Html.EditorFor(x => x.c_No, new { htmlAttributes = new { @class = "form-control", @readonly = "" } })
                }
            </div>
        </div>
    </div>

    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="display-flex flex-1">
            @Html.LabelFor(x => x.c_Name, "姓名", new { @class = "flex-150px text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_Name</p>
                }
                else
                {
                    @Html.EditorFor(x => x.c_Name, new { htmlAttributes = new { @class = "form-control", maxlength = 20, required = "required" } })
                }
            </div>
        </div>
    </div>

    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="display-flex flex-1">
            @Html.LabelFor(x => x.c_Gender, "性別", new { @class = "flex-150px text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@((Model.c_Gender ?? false) ? "生理男" : "生理女")</p>
                }
                else
                {
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(x => x.c_Gender, true, new { id = "genderMale", @class = "form-check-input" })
                        @Html.Label("genderMale", "生理男", new { @class = "form-check-label" })
                    </div>
                    <div class="form-check form-check-inline">
                        @Html.RadioButtonFor(x => x.c_Gender, false, new { id = "genderFemale", @class = "form-check-input" })
                        @Html.Label("genderFemale", "生理女", new { @class = "form-check-label" })
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="display-flex flex-1">
            @Html.LabelFor(x => x.c_Birthday, "生日", new { @class = "flex-150px text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@(Model.c_Birthday?.ToString("yyyy/MM/dd"))</p>
                }
                else
                {
                    @Html.DateInputFor(x => x.c_Birthday, new { @class = "form-control" })
                }
            </div>
        </div>
    </div>

    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="display-flex flex-1">
            @Html.LabelFor(x => x.c_IdCard, "身份證字號", new { @class = "flex-150px text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_IdCard</p>
                }
                else
                {
                    @Html.EditorFor(x => x.c_IdCard, new { htmlAttributes = new { @class = "form-control", maxlength = 10 } })
                }
            </div>
        </div>
    </div>

    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="display-flex flex-1">
            @Html.Label("手機", new { @class = "flex-150px text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_Phone1</p>
                }
                else
                {

                    @Html.EditorFor(x => x.c_Phone1, new { htmlAttributes = new { @class = "form-control", maxlength = 12, required = "required", oninput = "this.value = this.value.replace(/[^0-9+\\-()# ]/g, '')" } })
                }
            </div>
        </div>
    </div>

    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="display-flex flex-1">
            @Html.Label("電話2", new { @class = "flex-150px text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_Phone2_Type</p>
                }
                else
                {
                    @Html.DropDownListFor(x => x.c_Phone2_Type, new SelectList(new[]
                    {
                        "住家","手機","公司","傳真"
                    }), "請選擇", new { @class = "form-control" })
                }
            </div>
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_Phone2</p>
                }
                else
                {
                    @Html.EditorFor(x => x.c_Phone2, new { htmlAttributes = new { @class = "form-control", maxlength = 12, oninput = "this.value = this.value.replace(/[^0-9+\\-()# ]/g, '')" } })
                }
            </div>
        </div>
    </div>

    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="display-flex flex-1">
            @Html.LabelFor(x => x.c_EMail, "信箱", new { @class = "flex-150px text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_EMail</p>
                }
                else
                {
                    @Html.EditorFor(x => x.c_EMail, new { htmlAttributes = new { @class = "form-control", maxlength = 40 } })
                }
            </div>
        </div>
    </div>

    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="display-flex flex-1">
            @Html.LabelFor(x => x.c_City, "縣市", new { @class = "flex-150px text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_City</p>
                }
                else
                {
                    @Html.DropDownListFor(x => x.c_City, new SelectList(CityHelper.GetCities()), "請選擇", new { @class = "form-control" })
                }
            </div>
        </div>
        <div class="display-flex flex-1">
            @Html.LabelFor(x => x.c_PostalCode, "郵遞區號", new { @class = "flex-auto text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_PostalCode</p>
                }
                else
                {
                    @Html.EditorFor(x => x.c_PostalCode, new { htmlAttributes = new { @class = "form-control", maxlength = 5, oninput = "this.value = this.value.replace(/[^0-9]/g, '')" } })
                }
            </div>
        </div>
        <div class="display-flex flex-1">
            @Html.LabelFor(x => x.c_Area, "鄉鎮區", new { @class = "flex-auto text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_Area</p>
                }
                else
                {
                    @Html.EditorFor(x => x.c_Area, new { htmlAttributes = new { @class = "form-control" } })
                }
            </div>
        </div>
    </div>

    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="display-flex flex-1">
            @Html.LabelFor(x => x.c_Address, "地址", new { @class = "flex-150px text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_Address</p>
                }
                else
                {
                    @Html.EditorFor(x => x.c_Address, new { htmlAttributes = new { @class = "form-control", maxlength = 40 } })
                }
            </div>
        </div>
    </div>

    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="display-flex flex-1">
            @Html.LabelFor(x => x.c_TaxId, "統編", new { @class = "flex-150px text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_TaxId</p>
                }
                else
                {
                    @Html.EditorFor(x => x.c_TaxId, new { htmlAttributes = new { @class = "form-control", maxlength = 8, oninput = "this.value = this.value.replace(/[^0-9]/g, '')" } })
                }
            </div>
        </div>
    </div>

    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="display-flex flex-1">
            @Html.LabelFor(x => x.c_Company, "公司", new { @class = "flex-150px text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_Company</p>
                }
                else
                {
                    @Html.EditorFor(x => x.c_Company, new { htmlAttributes = new { @class = "form-control", maxlength = 20 } })
                }
            </div>
        </div>
    </div>

    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="display-flex flex-1">
            @Html.LabelFor(x => x.c_Memo, "備註", new { @class = "flex-150px text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_Memo</p>
                }
                else
                {
                    @Html.EditorFor(x => x.c_Memo, new { htmlAttributes = new { @class = "form-control", maxlength = 40 } })
                }
            </div>
        </div>
    </div>

    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="display-flex flex-1">
            @Html.LabelFor(x => x.c_CarFrameNo, "車架", new { @class = "flex-150px text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_CarFrameNo</p>
                }
                else
                {
                    @Html.EditorFor(x => x.c_CarFrameNo, new { htmlAttributes = new { @class = "form-control", maxlength = 40 } })
                }
            </div>
        </div>
    </div>

    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="display-flex flex-1">
            @Html.LabelFor(x => x.c_LicensePlate, "車牌", new { @class = "flex-150px text-right" })
            <div class="flex-1">
                @if (isView)
                {
                    <p>@Model.c_LicensePlate</p>
                }
                else
                {
                    @Html.EditorFor(x => x.c_LicensePlate, new { htmlAttributes = new { @class = "form-control", maxlength = 40 } })
                }
            </div>
        </div>
    </div>

    <div class="@(isView ? "form-group detail" : "form-group")">
        <div class="form-bottom-btn">
            @if (isView)
            {
                @Html.ActionLink("編輯", "Edit", new { id = Model.c_Id }, new { @class = "btn btn-primary" })
                @Html.ActionLink("返回列表", "Index", "Customer", new { @class = "btn btn-secondary" })
            }
            else
            {
                <input type="submit" value="儲存" class="btn btn-primary" />
                @Html.ActionLink("返回列表", "Index", "Customer", null, new { @class = "btn btn-secondary" })
            }
        </div>
    </div>
</section>