@model IEnumerable<Electric_Scooter.Models.Purchase>
@{
    string GetSortableLink(string linkText, string sortField)
    {
        var sortOrder = ViewBag.SortField == sortField && ViewBag.SortOrder == "asc" ? "desc" : "asc";
        return Url.Action("Index", new
        {
            sortField = sortField,
            sortOrder = sortOrder,
            searchTerm = Request.QueryString["searchTerm"],
            city = Request.QueryString["city"]
        });
    }
}
<main class="container-wrap">
    <div class="container-main">
        <!-- breadcrumb -->
        <section class="breadcrumb-wrap">
            <ul>
                <li>
                    <a href="">首頁</a>
                </li>
                <li>
                    <p>進貨系統</p>
                </li>
            </ul>
        </section>
        <!-- tool -->
        @using (Html.BeginForm("Index", "Purchase", FormMethod.Get))
        {
            <section class="tool-wrap">
                <div class="tool-flex">
                    <div class="tool-search">
                        <div class="ts-box">
                            <input type="text" name="searchTerm" placeholder="請輸入關鍵字搜尋" value="@Request.QueryString["searchTerm"]">
                            <button type="submit" class="btn-search"></button>
                        </div>
                    </div>

                    <div class="filter-date">
                        <label>入庫日期</label>
                        <div>
                            <input type="date" name="stkInStart" value="@Request.QueryString["stkInStart"]">
                        </div>
                        <span></span>
                        <div>
                            <input type="date" name="stkInEnd" value="@Request.QueryString["stkInEnd"]">
                        </div>
                    </div>

                    <div class="filter-date">
                        <label>出庫日期</label>
                        <div>
                            <input type="date" name="stkOutStart" value="@Request.QueryString["stkOutStart"]">
                        </div>
                        <span></span>
                        <div>
                            <input type="date" name="stkOutEnd" value="@Request.QueryString["stkOutEnd"]">
                        </div>
                    </div>
                </div>
                <div class="tool-btn">
                    <button type="button" class="btn-add" onclick="location='@Url.Action("Create")'"><span>新增一筆</span></button>
                    <button type="button" class="btn-export" onclick="print('@Url.Action("Print")')"><span>列印</span></button>
                    <button type="button" class="btn-export" onclick="location='@Url.Action("ExportToPDF")'"><span>匯出</span></button>
                </div>
            </section>

            <section class="tool-wrap">
                <div class="tool-flex">
                    <div class="filter-select">
                        <label>分類</label>
                        <select name="type">
                            <option value="">請選擇</option>
                            <option value="車輛A01" @(Request.QueryString["type"] == "車輛A01" ? "selected" : "")>車輛A01</option>
                            <option value="電池B01" @(Request.QueryString["type"] == "電池B01" ? "selected" : "")>電池B01</option>
                            <option value="零件C01" @(Request.QueryString["type"] == "零件C01" ? "selected" : "")>零件C01</option>
                        </select>
                    </div>

                    <div class="filter-select">
                        <label>結清</label>
                        <select name="Settled">
                            <option value="">請選擇</option>
                            <option value="true" @(Request.QueryString["settled"] == "true" ? "selected" : "")>是</option>
                            <option value="false" @(Request.QueryString["settled"] == "false" ? "selected" : "")>否</option>
                        </select>
                    </div>

                    <div class="filter-select">
                        <label>收款</label>
                        <select name="PaymentReceived">
                            <option value="">請選擇</option>
                            <option value="true" @(Request.QueryString["paymentReceived"] == "true" ? "selected" : "")>是</option>
                            <option value="false" @(Request.QueryString["paymentReceived"] == "false" ? "selected" : "")>否</option>
                        </select>
                    </div>

                    <div class="filter-select">
                        <label>分期</label>
                        <select name="Installment">
                            <option value="">請選擇</option>
                            <option value="true" @(Request.QueryString["installment"] == "true" ? "selected" : "")>是</option>
                            <option value="false" @(Request.QueryString["installment"] == "false" ? "selected" : "")>否</option>
                        </select>
                    </div>

                    <div class="filter-bottom">
                        <button type="submit" class="btn-filter-submit">確定</button>
                        <a href="@Url.Action("Index")" class="btn-filter-clean">清除條件</a>
                    </div>
                </div>
            </section>
        }
        <!-- list -->
        <section class="list-wrap">
            <div class="list-overflow">
                <div class="list-main">
                    <div class="list-title">
                        <div class="f-0">
                            <input type="checkbox" id="checkAll">
                        </div>
                        <div class="f-1">廠商名稱</div>
                        <div class="f-1">分類</div>
                        <div class="f-1">有無驗車</div>
                        <div class="f-1">有無廠證</div>
                        <div class="f-1">良品/不良品</div>
                        <div class="f-1">價格</div>
                        <div class="f-1">結清</div>
                        <div class="f-1">收款</div>
                        <div class="f-1">分期</div>
                        <div class="f-1">
                            <a href="@GetSortableLink("入庫日期","StockIn")">入庫日期</a>
                        </div>
                        <div class="f-1">
                            <a href="@GetSortableLink("出庫日期","StockOut")">出庫日期</a>
                        </div>
                        <div class="f-1">操作</div>
                    </div>

                    <div class="list-list">
                        @foreach (var data in Model)
                        {
                            <div class="list-row" onclick="location.href='@Url.Action("Details", "Purchase", new { id = data.pu_Id })'" style="cursor: pointer;">
                                <div class="f-0">
                                    <input type="checkbox" class="list-checkbox" onclick="event.stopPropagation();" />
                                </div>
                                <div class="f-1">@data.Product.Supplier.s_Name</div>
                                <div class="f-1">@data.Product.p_Type</div>
                                <div class="f-1">
                                    @if (data.pu_IsVehicleInspected.HasValue)
                                    {
                                        <input type="checkbox" disabled @(data.pu_IsVehicleInspected.Value ? "checked" : "") />
                                    }
                                </div>
                                <div class="f-1">
                                    @if (data.pu_HasFactoryCertificate.HasValue)
                                    {
                                        <input type="checkbox" disabled @(data.pu_HasFactoryCertificate.Value ? "checked" : "") />
                                    }

                                </div>
                                <div class="f-1">
                                    @if (data.pu_IsVehicleInspected.HasValue)
                                    {
                                        <input type="checkbox" disabled @(data.pu_IsQuality.Value ? "checked" : "") />
                                    }

                                </div>
                                <div class="f-1">@data.pu_Price</div>
                                <div class="f-1">
                                    @if (data.pu_IsSettled.HasValue)
                                    {
                                        <input type="checkbox" disabled @(data.pu_IsSettled.Value ? "checked" : "") />
                                    }

                                </div>
                                <div class="f-1">
                                    @if (data.pu_IsPaymentReceived.HasValue)
                                    {
                                        <input type="checkbox" disabled @(data.pu_IsPaymentReceived.Value ? "checked" : "") />
                                    }

                                </div>
                                <div class="f-1">
                                    @if (data.pu_IsInstallment.HasValue)
                                    {
                                        <input type="checkbox" disabled @(data.pu_IsInstallment.Value ? "checked" : "") />
                                    }

                                </div>
                                <div class="f-1">@(data.pu_StockInDate?.ToString("yyyy-MM-dd"))</div>
                                <div class="f-1">@(data.pu_StockOutDate?.ToString("yyyy-MM-dd"))</div>
                                <div class="f-1" onclick="event.stopPropagation();">
                                    @Html.ActionLink(" ", "Edit", new { id = data.pu_Id }, new { @class = "fa-solid fa-pen-to-square", style = "margin-right: 10px;", title = "修改" })

                                    <form action="@Url.Action("Delete", "Purchase", new { id = data.pu_Id})" method="post" style="display: inline;">
                                        @Html.AntiForgeryToken()
                                        <button type="submit" class="fa-solid fa-trash" onclick="return confirm('確定要刪除這個項目嗎？')" style="border: none; background: none;" title="刪除"></button>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </section>
        <!-- pages -->
        <div class="pages-wrap">
            <button class="btn-prev"></button>
            <button class="btn-next"></button>
            <span>showing @Model.Count() of @Model.Count()</span>
        </div>
    </div>
</main>